nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    // Brand on the left
    a.navbar-brand.d-flex.align-items-center.mb-lg-0(href="#").fs-4
      div.round-logo.me-2.d-flex.justify-content-center.align-items-center(
        style="padding-left:20px; width: 40px; height: 40px; border-radius: 50%;"
      )
        img.clippy(src="/img/clippy.svg" alt="Logo" width="35" height="35")

    // Toggler button (mobile only)
    button.navbar-toggler(
      type="button",
      data-bs-toggle="collapse",
      data-bs-target="#navbarSupportedContent",
      aria-controls="navbarSupportedContent",
      aria-expanded="false",
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon

    // Menu container
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.flex-lg-rowite.flex-nowrap.text-nowrap
        li.nav-item
          a.nav-link.active(href="/") Home
        li.nav-item
          a.nav-link(href="/blog") Blog
        li.nav-item
          a.nav-link(href="/photos") Media
        li.nav-item
          a.nav-link(href="/resources") Resources
        li.nav-item
          a.nav-link(href="/contact") Contact

