nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.py-2.position-relative
  .container-fluid.d-flex.justify-content-between.align-items-center
    // Brand always on the left
    a.navbar-brand.d-flex.align-items-center.mb-2.mb-lg-0(href="#").fs-4
      div.round-logo.me-2
      span Person Typing

    // Right side container for toggler + menu
    .d-flex.align-items-center.position-relative
      // Hamburger button (mobile only)
      button.navbar-toggler.d-lg-none.me-2(
        type="button",
        data-bs-toggle="collapse",
        data-bs-target="#navbarSupportedContent",
        aria-controls="navbarSupportedContent",
        aria-expanded="false",
        aria-label="Toggle navigation"
      )
        span.navbar-toggler-icon

      // Collapsible menu (desktop: right aligned; mobile: below hamburger)
      #navbarSupportedContent.collapse.navbar-collapse.bg-dark.rounded.p-3.p-lg-0.mt-2.mt-lg-0.z-3(
        class="d-lg-flex align-items-lg-center"
      )
        ul.navbar-nav.mb-2.mb-lg-0.text-center.text-lg-start.gap-2.gap-lg-3.ms-lg-auto.fs-6
          li.nav-item
            a.nav-link.active(href="/") Home
          li.nav-item
            a.nav-link(href="/blog") Blog
          li.nav-item
            a.nav-link(href="/portfolio") Portfolio
          li.nav-item
            a.nav-link(href="/photos") Photos
