extends layout

block content
  .container.p-0.p-md-5
    table.table.responsive-table
      each post in posts
        - var title = post.title
        - var text = post.excerpt || ''
        - var imageUrl = post.imageUrl ? '/img/' + post.imageUrl : '/img/mountain.svg'
        - var buttonUrl = '/blog/' + post._id 
        - var buttonText = 'Read More'
        - var createdAt = post.createdAt || ''
        tr
          td(style="vertical-align: middle;")
            img(src=imageUrl, alt=title, class="img-fluid" style="width: 100px; height: auto;")
          td(style="vertical-align: middle; text-align: left;")
            h5.mb-1= title
            small.text-muted.mb-2 Published on #{createdAt}
            p.mb-2= text
          td(style="vertical-align: middle; text-align: left;")
            a.btn.btn-primary(href=buttonUrl)= buttonText
