extends layout

block content
  .container
    .row
      ul.list-group  
        each post in posts
          - var title = post.title
          - var text = post.excerpt || ''
          - var imageUrl = post.imageUrl || 'https://imageslot.com/v1/1080x1080?bg=551759&fg=ffffff&shadow=23272f&text=%5BIMAGE%5D&filetype=png'
          - var buttonUrl = '/blog/' + post.postId
          - var buttonText = 'Read More'
          li.list-group-item.mb-3  
            .row
              .col-md-4
                img(src=imageUrl, alt=title, class="img-fluid")
              .col-md-8
                h5= title
                p= text
                a.btn.btn-primary(href=buttonUrl)= buttonText

