extends layout

block content
 .container.border-pink
  .row.d-flex.justify-content-center.border-blue 
    .col-12.col-md-9.border-green
      article.post
        h1.fs-md-3rem.fs-3rem.text-center= post.title 
        if post.createdAt 
          p.text-muted.mb-2.mynerve-regular.fs-5.text-center Published on #{post.createdAt}
    .col-12.col-md-9.d-flex.border-yellow.align-items-center.justify-content-center
        if post.imageUrl
          img(
            src='/img/' + post.imageUrl,
            alt=post.title || 'Post image',
            class="img-fluid",
            style="max-width: 700px; max-height: 300px;"
          )
        else
          img(
            src="/img/call-me.svg",
            alt=post.title || 'Placeholder image',
            class="d-block mx-auto",
            style="max-width: 300px; height: auto;"
          )
    .col-12.col-md-9.post-body.nunito-sans-pt.fs-5.lh-md.p-1.p-md-5.border-orange !{post.body}
    .col-12.col-md-9.border-aqua
        a(href="/blog") ← Back to blog
